<!DOCTYPE html>
<html>
<head>
  <title>CommonGround</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://browserid.org/include.js" %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyBAQp3FN4F28OQ4MZ0NNz0_Jwq82hU7PLs&sensor=true" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
