<meta name="viewport" content="width=device-width" />
<p id="notice"><%= notice %></p>

<% if @users %>
  <% @users.each do |user| %>
    <div class="user" class="<%=user.email%>">
      <div><%= user.email %></div>
      <% if user.latitude and user.longitude %>
        <div class="latitude"><%= user.latitude %></div>
        <div class="longitude"><%= user.longitude %></div>
      <% end %>
    </div>
  <% end %>

  <br>

  <% if @lat_long %>
    <div id="centroid">
      <p>Magical Centroid</p>
      <div id="center_latitude"><%= @lat %></div>
      <div id="center_longitude"><%= @long %></div>
    </div>
  <% end %>

<% end %>

<%= hidden_field_tag :room_id, @room.id %>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>

<div id="map_canvas" style="width: 500px; height: 500px;"></div>
